.container {
    display: grid;
    gap: 2px;
    margin: 10px;
    padding: 10px;
    grid-auto-rows: minmax(60px, auto);

}

.container__items {
    background-color: white;
    padding: 10px;
    display: grid;
    align-items: center;

}

.container__items--title {
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bold;
    padding: 0;
}

.container__items--subTitle {
    font-size: large;
    font-weight: bold;
}

.container__items--list {
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}