.form {
    display: flex;
    justify-content: space-between;
}

.form__items {
    padding: 5px;
}

.form__items--input {
    flex-basis: 78%;
    border: 2px solid lightgrey;
    border-radius: 2px;
}

.form__items--button {
    flex-basis: 20%;
    background-color: teal;
    color: white;
    border: 2px solid teal;
    border-radius: 2px;
}

@media (max-width: 767px) {
    .form {
        display: flex;
        flex-wrap: wrap;
    }

    .form__items {
        flex-basis: 100%;
        margin: 5px;
    }
}

