html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: lightgray;
}